*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    max-width: 800px;
    min-height: 400px;
    margin: 0 auto;
    border: 1px solid black;
}

.box{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    font-size: 2em;
}
