
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}


p{
    font-size: 1.5rem;
    text-indent: 20px;
    word-spacing: 20px;
    line-height: 1.2;
    text-align: justify;

}

